<a href="https://colab.research.google.com/github/MientusJJ/Python-Exercises/blob/main/Kopia_notatnika_Z05_C_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regresja

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import cross_val_predict
from sklearn import datasets, linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn import model_selection
from sklearn import  metrics
from statsmodels.formula.api import ols

Rozważmy zbiór Boston

In [ ]:
import pandas as pd
import numpy as np


data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]
feature_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']

In [ ]:
# print(boston.keys())
# print(boston.data.shape)
# print(boston.feature_names)

In [ ]:
bos=pd.DataFrame(data)
bos.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [ ]:
bos.columns = feature_names
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [ ]:
# print(boston.target[0:5])
bos['PRICE']=target
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [ ]:
model = ols("PRICE ~ CRIM + ZN + I(2**INDUS) + ZN:INDUS+ I(INDUS ** 2.0)", bos).fit()
# Print the summary
print((model.summary()))

                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.281
Model:                            OLS   Adj. R-squared:                  0.274
Method:                 Least Squares   F-statistic:                     39.05
Date:                Tue, 18 Apr 2023   Prob (F-statistic):           7.30e-34
Time:                        16:58:04   Log-Likelihood:                -1756.8
No. Observations:                 506   AIC:                             3526.
Df Residuals:                     500   BIC:                             3551.
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          24.9918      0.643     38.841      0.000      23.728      26.256
CRIM               -0.2807      0.045     -6.218      0.000      -0.369      -0.192
ZN                  0.1075      0.027      4.010      0.000       0.055       0.160
I(2 ** INDUS)   -4.247e-09   1.77e-08     -0.239      0.811   -3.91e-08    3.06e-08
ZN:INDUS           -0.0099      0.007     -1.317      0.188      -0.025       0.005
I(INDUS ** 2.0)    -0.0131      0.003     -4.721      0.000      -0.019      -0.008
==============================================================================
Omnibus:                      188.538   Durbin-Watson:                   0.752
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              606.498
Skew:                           1.770   Prob(JB):                    2.00e-132
Kurtosis:                       7.029   Cond. No.                     4.27e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.27e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
metrics.r2_score(bos.PRICE, model.predict(bos))

0.280831023478485

# Zadanie - konkurs

Wykonaj regresję za pomocą metody **statsmodels.formula.api.ols** tak by wynik na zbiorze testowym był jak najlepszy.

In [ ]:

model = ols("PRICE ~ CRIM + ZN + I(INDUS) + TAX + LSTAT + B", bos).fit()
# Print the summary
print((model.summary()))
metrics.r2_score(bos.PRICE, model.predict(bos))

                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.556
Model:                            OLS   Adj. R-squared:                  0.551
Method:                 Least Squares   F-statistic:                     104.2
Date:                Tue, 18 Apr 2023   Prob (F-statistic):           9.03e-85
Time:                        16:58:22   Log-Likelihood:                -1634.7
No. Observations:                 506   AIC:                             3283.
Df Residuals:                     499   BIC:                             3313.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     32.5139      1.795     18.115      0.000      28.987      36.040
CRIM          -0.0261      0.041     -0.640      0.522      -0.106       0.054
ZN             0.0270      0.014      1.905      0.057      -0.001       0.055
I(INDUS)       0.0447      0.068      0.658      0.511      -0.089       0.178
TAX           -0.0042      0.003     -1.547      0.123      -0.010       0.001
LSTAT         -0.8483      0.051    -16.477      0.000      -0.949      -0.747
B              0.0049      0.003      1.433      0.153      -0.002       0.012
==============================================================================
Omnibus:                      158.149   Durbin-Watson:                   0.862
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              396.707
Skew:                           1.582   Prob(JB):                     7.18e-87
Kurtosis:                       5.967   Cond. No.                     3.63e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.63e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

0.5562374493754378